html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F8F0E5;
}

header {
    background-color: #DAC0A3;
    color: white;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.navbar {
    background-color: #DAC0A3;
    height: 100px;
}

.navbar-nav {
    padding-right: 50px;
}

.nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.navbar-brand {
    font-size: 50px;
}

